body{
	padding: 0px;
	margin: 0px;
	font-family: 'Alice', serif;
	text-align: justify;
	height: 100%;
	position: relative;
    font-size: 22px;
}

h1{
       font-size:44px;
}

h1,h2{
	color: #F5D76E;
	margin: 0px;
}
.header{
	text-align: center;
	/*border: 2px solid pink;*/
	background-color: black;
	height: 80px;
}

.header h1{
	padding-top: 30px;
}

.title{
	transition: 2s;
}

.title:hover{
	font-size: 40px;
}

.wrap{
	background-color: black;
	height: 100%;
}

.content{
	/*border: 1px solid red;*/
	width: 80%;
	height: 950px;
	padding-top: 20px;
	background-image: url(OldBook2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 950px;
	margin-left: 10%;
	background-color: black;
	position: relative;
	overflow: none;
}

.html span{
	color: brown;
}
.html{
	/*border: 2px solid orange;*/
	width: 45%;
	height: 90%;
	float: left;
	padding: 10px;
	margin-left: 2%;
	font-size: 14px;
	overflow: scroll;
	overflow-x: hidden;
}

.css span{
	color: brown;
}

.css{
	/*border: 2px solid green;*/
	width: 45%;
	height: 90%;
	float: right;
	padding: 10px;
	margin-right: 2%;
	font-size: 14px;
	overflow: scroll;
	overflow-x: hidden;
}
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.copyright{
	background-color: black;
	height: 50px;
	color: white;
	color: #F5D76E;
}

.copyright h1{
	padding: 20px;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;
}